# Core Streamlit app
streamlit
pandas
matplotlib
seaborn
wordcloud
emoji
urlextract

# NLP (Sentiment Analysis)
textblob

# File Export & Document Generation
reportlab
pillow
openpyxl
python-docx

# Interactive Network Visualization
networkx
pyvis
plotly